@import url('https://fonts.googleapis.com/css?family=Roboto:500,700,400|Roboto+Condensed:700');


/* ANIMA screen - sign-up */
.font-class-1 {
  font-family         : Roboto, Helvetica, Arial, serif;
  font-style          : normal;
  font-weight         : 500;
}
.font-class-2 {
  font-family         : Roboto, Helvetica, Arial, serif;
  font-style          : normal;
  font-weight         : 700;
}
.font-class-3 {
  font-family         : Roboto, Helvetica, Arial, serif;
  font-style          : normal;
  font-weight         : 400;
}
.font-class-4 {
  font-family         : "Roboto", Helvetica, Arial, serif;
  font-size           : 14.0px;
  line-height         : 20.0px;
}
:root {
  --auto-palette-color-1: rgba(255,255,255,1.0);
  --auto-palette-color-2: rgba(238,238,238,1.0);
  --auto-palette-color-3: rgba(110,110,110,1.0);
  --auto-palette-color-4: rgba(112,112,112,1.0);
  --auto-palette-color-5: rgba(250,250,250,1.0);
  --auto-palette-color-6: rgba(48,48,48,1.0);
  --auto-palette-color-7: rgba(0,150,136,1.0);
  --auto-palette-color-8: rgba(193,193,193,1.0);
  --auto-palette-color-9: rgba(149,152,154,1.0);
}
.sign-up-hO2H6A .input11-4KXMbu .already-have-account-login-here6-LOJWuK .span1-dUO4Pc {
  font-family         : Roboto, Helvetica, Arial, serif;
  font-size           : 14.0px;
  font-style          : italic;
  font-weight         : 700;
  letter-spacing      : 0.00px;
}
.sign-up-hO2H6A {
  background-color    : var(--auto-palette-color-6);
  height              : 768.0px;
  overflow            : hidden;
  position            : relative;
  width               : 1366.0px;
}
.sign-up-hO2H6A .welcome-screen02-t8Rizb {
  align-items         : flex-start;
  background-color    : rgba(255,255,255,0);
  box-sizing          : border-box;
  display             : inline-flex;
  flex-direction      : row;
  height              : 768px;
  justify-content     : flex-start;
  left                : 0px;
  position            : fixed;
  top                 : 0px;
  transform           : rotate(0deg);
  width               : auto;
}
.sign-up-hO2H6A .welcome-screen02-t8Rizb .background02-oZPuib {
  align-items         : flex-start;
  background-color    : rgba(255,255,255,0);
  box-sizing          : border-box;
  display             : inline-flex;
  flex-direction      : row;
  flex-shrink         : 0;
  height              : 768px;
  justify-content     : flex-start;
  position            : relative;
  transform           : rotate(0deg);
  width               : auto;
}
.sign-up-hO2H6A .welcome-screen02-t8Rizb .background02-oZPuib .back-gradient-red12-mMB6JG {
  background-color    : rgba(255,255,255,0);
  flex-shrink         : 0;
  height              : 768px;
  position            : relative;
  transform           : rotate(0deg);
  width               : 1366px;
}
.sign-up-hO2H6A .input11-4KXMbu {
  align-items         : center;
  background-color    : rgba(255,255,255,0);
  box-sizing          : border-box;
  display             : flex;
  flex-direction      : column;
  height              : auto;
  justify-content     : flex-start;
  left                : 535px;
  min-height          : 345px;
  position            : fixed;
  top                 : 212px;
  transform           : rotate(0deg);
  width               : 297px;
}
.sign-up-hO2H6A .input11-4KXMbu .password01-xB1ArY {
  align-items         : center;
  background-color    : rgba(255,255,255,0);
  box-sizing          : border-box;
  display             : flex;
  flex-direction      : column;
  flex-shrink         : 0;
  height              : auto;
  justify-content     : flex-start;
  margin-left         : 0.59px;
  margin-top          : 24px;
  min-height          : 24px;
  position            : relative;
  transform           : rotate(0deg);
  width               : 290px;
}
.sign-up-hO2H6A .input11-4KXMbu .password01-xB1ArY .textpath02-4O39kC {
  background-color    : rgba(193,193,193,0);
  flex-shrink         : 0;
  height              : 1px;
  margin-top          : 2px;
  position            : relative;
  transform           : rotate(0deg);
  width               : 290px;
}
.sign-up-hO2H6A .input11-4KXMbu .password01-xB1ArY .password-input11-oqxLSx {
  background-color    : rgba(193,193,193,0);
  border              : 0;
  color               : var(--auto-palette-color-8);
  flex-shrink         : 0;
  font-size           : 12.0px;
  height              : 18px;
  line-height         : 12.0px;
  margin-left         : 4.41px;
  padding             : 0;
  position            : relative;
  resize              : none;
  text-align          : center;
  transform           : rotate(0deg);
  width               : 56px;
}
.sign-up-hO2H6A .input11-4KXMbu .password01-xB1ArY .password-input11-oqxLSx::placeholder {
  color               : rgba(193,193,193,0.6);
}
.sign-up-hO2H6A .input11-4KXMbu .username11-EWLTVg {
  align-items         : center;
  background-color    : rgba(255,255,255,0);
  box-sizing          : border-box;
  display             : flex;
  flex-direction      : column;
  flex-shrink         : 0;
  height              : auto;
  justify-content     : flex-start;
  margin-left         : 0.59px;
  margin-top          : 34px;
  min-height          : 26px;
  position            : relative;
  transform           : rotate(0deg);
  width               : 290px;
}
.sign-up-hO2H6A .input11-4KXMbu .username11-EWLTVg .textpath03-ntiDLa {
  background-color    : rgba(193,193,193,0);
  flex-shrink         : 0;
  height              : 1px;
  margin-top          : 4px;
  position            : relative;
  transform           : rotate(0deg);
  width               : 290px;
}
.sign-up-hO2H6A .input11-4KXMbu .username11-EWLTVg .username-input11-Iqm52w {
  background-color    : rgba(193,193,193,0);
  border              : 0;
  color               : var(--auto-palette-color-8);
  flex-shrink         : 0;
  font-size           : 12.0px;
  height              : 18px;
  line-height         : 12.0px;
  margin-left         : 2.41px;
  padding             : 0;
  position            : relative;
  resize              : none;
  text-align          : center;
  transform           : rotate(0deg);
  width               : 58px;
}
.sign-up-hO2H6A .input11-4KXMbu .username11-EWLTVg .username-input11-Iqm52w::placeholder {
  color               : rgba(193,193,193,0.6);
}
.sign-up-hO2H6A .input11-4KXMbu .password2-iEmqEM {
  align-items         : center;
  background-color    : rgba(255,255,255,0);
  box-sizing          : border-box;
  display             : flex;
  flex-direction      : column;
  flex-shrink         : 0;
  height              : auto;
  justify-content     : flex-start;
  margin-left         : 0.59px;
  margin-top          : 24px;
  min-height          : 24px;
  position            : relative;
  transform           : rotate(0deg);
  width               : 290px;
}
.sign-up-hO2H6A .input11-4KXMbu .password2-iEmqEM .textpath04-9Kkmw1 {
  background-color    : rgba(193,193,193,0);
  flex-shrink         : 0;
  height              : 1px;
  margin-top          : 2px;
  position            : relative;
  transform           : rotate(0deg);
  width               : 290px;
}
.sign-up-hO2H6A .input11-4KXMbu .password2-iEmqEM .re-password-input1-3bOsi9 {
  background-color    : rgba(193,193,193,0);
  border              : 0;
  color               : var(--auto-palette-color-8);
  flex-shrink         : 0;
  font-size           : 12.0px;
  height              : 18px;
  line-height         : 12.0px;
  margin-left         : 2.41px;
  padding             : 0;
  position            : relative;
  resize              : none;
  text-align          : center;
  transform           : rotate(0deg);
  width               : 96px;
}
.sign-up-hO2H6A .input11-4KXMbu .password2-iEmqEM .re-password-input1-3bOsi9::placeholder {
  color               : rgba(193,193,193,0.6);
}
.sign-up-hO2H6A .input11-4KXMbu .username3-4wnBuY {
  align-items         : center;
  background-color    : rgba(255,255,255,0);
  box-sizing          : border-box;
  display             : flex;
  flex-direction      : column;
  flex-shrink         : 0;
  height              : auto;
  justify-content     : flex-start;
  margin-left         : 0.59px;
  margin-top          : 24px;
  position            : relative;
  transform           : rotate(0deg);
  width               : 290px;
}
.sign-up-hO2H6A .input11-4KXMbu .username3-4wnBuY .textpath05-uVu3OU {
  background-color    : rgba(193,193,193,0);
  flex-shrink         : 0;
  height              : 1px;
  margin-top          : 8px;
  position            : relative;
  transform           : rotate(0deg);
  width               : 290px;
}
.sign-up-hO2H6A .input11-4KXMbu .username3-4wnBuY .email-input1-zZjlxE {
  background-color    : rgba(193,193,193,0);
  border              : 0;
  flex-shrink         : 0;
  height              : 16px;
  margin-left         : 0.41px;
  padding             : 0;
  position            : relative;
  resize              : none;
  transform           : rotate(0deg);
  width               : 80px;
}
.sign-up-hO2H6A .input11-4KXMbu .sign-up-title4-d27v5G {
  background-color    : rgba(255,255,255,0);
  flex-shrink         : 0;
  height              : 34px;
  position            : relative;
  transform           : rotate(0deg);
  width               : 297px;
}
.sign-up-hO2H6A .input11-4KXMbu .sign-up-title4-d27v5G .rectangle1910-m5MEuB {
  background-color    : rgba(146,203,197,1.0);
  border-radius       : 17.0px;
  height              : 34px;
  left                : 0px;
  opacity             : 0.3;
  position            : absolute;
  top                 : 0px;
  transform           : rotate(0deg);
  width               : 297px;
}
.sign-up-hO2H6A .input11-4KXMbu .sign-up-title4-d27v5G .login-session11-V7Dhhd {
  background-color    : rgba(238,238,238,0);
  color               : var(--auto-palette-color-2);
  height              : auto;
  left                : 101px;
  position            : absolute;
  text-align          : center;
  top                 : 6px;
  transform           : rotate(0deg);
  width               : auto;
}
.sign-up-hO2H6A .input11-4KXMbu .sign-up-title4-d27v5G .login-session11-V7Dhhd .span0-ezPfiy {
  color               : rgba(238,238,238,1.0);
  font-family         : Roboto, Helvetica, Arial, serif;
  font-size           : 14.0px;
  font-style          : normal;
  font-weight         : 700;
  letter-spacing      : 0.00px;
}
.sign-up-hO2H6A .input11-4KXMbu .sign-up-title4-d27v5G .login-session11-V7Dhhd .span1-SNckia {
  color               : rgba(238,238,238,1.0);
  font-family         : Roboto, Helvetica, Arial, serif;
  font-size           : 14.0px;
  font-style          : italic;
  font-weight         : 400;
  letter-spacing      : 0.00px;
}
.sign-up-hO2H6A .input11-4KXMbu .sign-up-title4-d27v5G .login-session11-V7Dhhd .span2-HPhFf0 {
  color               : rgba(238,238,238,1.0);
  font-family         : Roboto, Helvetica, Arial, serif;
  font-size           : 14.0px;
  font-style          : normal;
  font-weight         : 700;
  letter-spacing      : 0.00px;
}
.sign-up-hO2H6A .input11-4KXMbu .sign-up-button5-wphyiP {
  background-color    : rgba(255,255,255,0);
  flex-shrink         : 0;
  height              : 36px;
  margin-right        : 0.03px;
  margin-top          : 41px;
  pointer-events      : auto;
  position            : relative;
  transform           : rotate(0deg);
  transition          : all 0.2s ease;
  width               : 103px;
}
.sign-up-hO2H6A .input11-4KXMbu .sign-up-button5-wphyiP:hover {
  transform           : scale(1.1);
  box-shadow          : 0px 0px 10px 2px rgba(0,0,0,0.2);
}
.sign-up-hO2H6A .input11-4KXMbu .sign-up-button5-wphyiP .group3430-MwJJGr {
  background-color    : rgba(255,255,255,0);
  height              : 36px;
  left                : 0px;
  position            : relative;
  top                 : 0px;
  transform           : rotate(0deg);
  width               : 103px;
}
.sign-up-hO2H6A .input11-4KXMbu .sign-up-button5-wphyiP .group3430-MwJJGr .path102-prKPuD {
  background-color    : rgba(0,150,136,0);
  height              : 60px;
  left                : -12px;
  position            : absolute;
  top                 : -4px;
  transform           : rotate(0deg);
  width               : 127px;
}
.sign-up-hO2H6A .input11-4KXMbu .sign-up-button5-wphyiP .group3430-MwJJGr .pressed11-jLis8W {
  background-color    : rgba(255,255,255,0);
  color               : var(--auto-palette-color-1);
  font-size           : 14.0px;
  height              : auto;
  left                : 24px;
  line-height         : 20.0px;
  position            : absolute;
  text-align          : center;
  top                 : 8px;
  transform           : rotate(0deg);
  width               : auto;
}
.sign-up-hO2H6A .input11-4KXMbu .already-have-account-login-here6-LOJWuK {
  background-color    : rgba(146,203,197,0);
  color               : rgba(146,203,197,1.0);
  flex-shrink         : 0;
  height              : auto;
  margin-left         : 1.0px;
  margin-top          : 8px;
  min-height          : 21px;
  min-width           : 220px;
  position            : relative;
  text-align          : center;
  transform           : rotate(0deg);
  width               : auto;
}
.sign-up-hO2H6A .input11-4KXMbu .already-have-account-login-here6-LOJWuK .span0-QhjG6E {
  color               : rgba(255,255,255,1.0);
  font-family         : Roboto, Helvetica, Arial, serif;
  font-size           : 14.0px;
  font-style          : normal;
  font-weight         : 400;
  letter-spacing      : 0.00px;
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  animation-delay     : 0s;
}
@keyframes anima-reveal {
  from {
    opacity             : 0;
  }
  to {
    opacity             : 1;
  }
}
a {
  text-decoration     : none;
}
.anima-flexbox-container a {
  line-height         : 0;
}
.anima-component-wrapper,
.anima-component-wrapper * {
  pointer-events      : none;
}
.anima-component-wrapper a *,
.anima-component-wrapper a,
.anima-component-wrapper input,
.anima-component-wrapper video,
.anima-component-wrapper iframe,
.anima-listeners-active,
.anima-listeners-active * {
  pointer-events      : auto;
}
.anima-hidden,
.anima-hidden * {
  visibility          : hidden;
  pointer-events      : none;
}
.anima-smart-layers-pointers,
.anima-smart-layers-pointers * {
  pointer-events      : auto;
  visibility          : visible;
}
.anima-component-wrapper.anima-not-ready,
.anima-component-wrapper.anima-not-ready * {
  visibility          : hidden !important;
}
.anima-listeners-active-click,
.anima-listeners-active-click * {
  cursor              : pointer;
}
.anima-component-wrapper a,
.anima-screen a {
  text-decoration     : none;
}
.anima-flexbox-container a {
  line-height         : 0;
}
.anima-full-width-a {
  width               : 100%;
}
.anima-full-height-a {
  height              : 100%;
}
.anima-screen textarea:focus,
.anima-screen input:focus {
  outline             : none;
}
.anima-screen div {
  -webkit-text-size-adjust: none;
}
.anima-container-center-vertical,
.anima-container-center-horizontal {
  pointer-events      : none;
  display             : flex;
  flex-direction      : row;
  padding             : 0;
  margin              : 0;
}
.anima-container-center-vertical {
  align-items         : center;
  height              : 100%;
}
.anima-container-center-horizontal {
  justify-content     : center;
  width               : 100%;
}
.anima-container-center-vertical > *,
.anima-container-center-horizontal > * {
  pointer-events      : auto;
  flex-shrink         : 0;
}
.anima-word-break {
  overflow-wrap       : break-word;
  word-wrap           : break-word;
  word-break          : break-all;
  word-break          : break-word;
}