<!DOCTYPE html>
<html>
    <head>
        <link href="{{ url_for('static',filename='img/favicon.png') }}" rel="shortcut icon"/>
        <meta charset="utf-8"/>
        <meta content="width=1366, maximum-scale=1.0" name="viewport"/>
        <link href="{{ url_for('static',filename='css/application.css') }}" rel="stylesheet" type="text/css"/>
        <meta content="AnimaApp.com - Design to code, Automated." name="author">
        </meta>
    </head>
    <body style="margin: 0;
    max-width : 98%;
 background: rgba(48, 48, 48, 1.0);">
        <input id="anPageName" name="page" type="hidden" value="application"/>
        <div class="anima-container-center-horizontal">
            <div class="application-KG42sx anima-flexbox-container anima-screen anima-word-break ">
                <div class="sidenavleft0-ZUEqxf">
                    <div class="bg-rect0-3svmoy">
                        <img anima-src="{{ url_for('static',filename='img/rectangle@1x.png') }}" class="rectangle0-laJIRR" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        <img anima-src="{{ url_for('static',filename='img/rectangle-1@1x.png') }}" class="rectangle1-YXBnst" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    </div>
                    <div class="sidenavlefttop1-XKj08n anima-flexbox-container">
                        <div class="auto-flex-aKtfNW anima-flexbox-container">
                            <img anima-src="{{ url_for('static',filename='img/circle@1x.png') }}" class="circle3-4RqjHW" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            <div class="email1-8UB2lV font-class-1">
                                guest@email
                            </div>
                        </div>
                        <img anima-src="{{ url_for('static',filename='img/ic-arrow-drop-down@1x.png') }}" class="icarrowdropdown2-KyFDHd" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    </div>
                    <a href="/dashboard">
                        <div class="quick-start2-mN16iB anima-smart-layers-pointers ">
                            <div class="group3351-BnKYHh anima-flexbox-container">
                                <img anima-src="{{ url_for('static',filename='img/icon-awesome-play@1x.png') }}" class="icon-awesome-play1-S3fI5P" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                <div class="quick-start0-QmRgBC font-class-1">
                                    Quick Start
                                </div>
                            </div>
                        </div>
                    </a>
                    <div class="application3-dzZLa4 anima-smart-layers-pointers ">
                        <div class="group33511-6wssho anima-flexbox-container">
                            <div class="icon-ionic-ios-apps1-XtR7JY">
                                <img anima-src="{{ url_for('static',filename='img/path-4@1x.png') }}" class="path40-pWz7NW" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                <div class="group3421-6PlNkG">
                                    <img anima-src="{{ url_for('static',filename='img/path-5@1x.png') }}" class="path50-FnDSIc" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                    <img anima-src="{{ url_for('static',filename='img/path-6@1x.png') }}" class="path61-H8PvNL" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                </div>
                            </div>
                            <div class="application0-t0LvEv font-class-1">
                                Application
                            </div>
                        </div>
                    </div>
                    <div class="preferences4-BwrcjF anima-smart-layers-pointers ">
                        <div class="group33512-rLQyeN anima-flexbox-container">
                            <div class="icon-feather-settings1-fl0ora">
                                <img anima-src="{{ url_for('static',filename='img/path-7@1x.png') }}" class="path70-HyXCnQ" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                <img anima-src="{{ url_for('static',filename='img/path-8@1x.png') }}" class="path81-GBLAYB" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            </div>
                            <div class="preferences0-d65jiC font-class-1">
                                Preferences
                            </div>
                        </div>
                    </div>
                    <div class="help5-fNHuYw anima-smart-layers-pointers ">
                        <div class="group33513-3QxJIm anima-flexbox-container">
                            <div class="icon-feather-help-circle1-PSDmuw">
                                <img anima-src="{{ url_for('static',filename='img/path-9@1x.png') }}" class="path90-2Hyf2q" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                <img anima-src="{{ url_for('static',filename='img/path-10@1x.png') }}" class="path101-s8h8de" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                <img anima-src="{{ url_for('static',filename='img/path-11@1x.png') }}" class="path112-Z7WGoW" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            </div>
                            <div class="help0-dEDsnq font-class-1">
                                Help
                            </div>
                        </div>
                    </div>
                </div>
                <div class="input1-ttSWWI anima-flexbox-container">
                    <div class="symbol7932-Bjlbg4 anima-flexbox-container" style="
    background-image: url('{{ url_for('static',filename='img/path-1@1x.png') }}');
    background-size: cover;">
                        <div class="pressed1-nCtFm9 font-class-3">
                            IMAGE SPLITTER 1.0
                        </div>
                    </div>
                    <div class="auto-flex1-OjtaH6 anima-flexbox-container">
                        <div class="number-of-horizontal-parts4-Cae5il anima-flexbox-container">
                            <div class="inputtext0-3T48Ra font-class-2">
                                Image filename
                            </div>
                        </div>
                        <div class="symbol7945-H6veYm">
                            <img anima-src="{{ url_for('static',filename='img/path-1-2@1x.png') }}" class="path103-D13GJP" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            <div class="pressed12-3FIRoc font-class-3">
                                SELECT
                            </div>
                        </div>
                    </div>
                    <div class="number-of-horizontal-parts1-CiTyJ0 anima-flexbox-container">
                        <input class="inputtext11-3pKVSJ font-class-2" name="inputtext11" placeholder="Number of Horizontal Part(s)" required="" type="number"/>
                        <img anima-src="{{ url_for('static',filename='img/text-path@1x.png') }}" class="textpath01-HcqftE" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    </div>
                    <div class="number-of-vertical-parts0-XCP9vL anima-flexbox-container">
                        <input class="inputtext1-5CgmAu font-class-2" name="inputtext1" placeholder="Number of Vertical Part(s)" required="" type="number"/>
                        <img anima-src="{{ url_for('static',filename='img/text-path@1x.png') }}" class="textpath0-D1Hm1V" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    </div>
                    <div class="symbol7923-A4I6CF anima-smart-layers-pointers ">
                        <img anima-src="{{ url_for('static',filename='img/path-1-1@1x.png') }}" class="path102-NPCF4d" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        <div class="pressed11-oHdAU2 font-class-3">
                            GENERATE
                        </div>
                    </div>
                </div>
                <div class="image-preview2-W4nSID anima-flexbox-container">
                    <div class="group3361-Fd9Qh2 anima-flexbox-container">
                        <img anima-src="{{ url_for('static',filename='img/rectangle-188@1x.png') }}" class="rectangle1880-yr1lwj" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        <div class="symbol7911-LPMOTc anima-smart-layers-pointers ">
                            <img anima-src="{{ url_for('static',filename='img/path-1@1x.png') }}" class="path104-gCKWQB" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            <div class="pressed13-naVHaE font-class-3">
                                DOWNLOAD (.zip)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Scripts -->
        <script>
            anima_isHidden = function(e) {
                if (!(e instanceof HTMLElement)) return !1;
                if (getComputedStyle(e).display == "none") return !0; else if (e.parentNode && anima_isHidden(e.parentNode)) return !0;
                return !1;
            };
            anima_loadAsyncSrcForTag = function(tag) {
                var elements = document.getElementsByTagName(tag);
                var toLoad = [];
                for (var i = 0; i < elements.length; i++) {
                    var e = elements[i];
                    var src = e.getAttribute("src");
                    var loaded = (src != undefined && src.length > 0 && src != 'data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==');
                    if (loaded) continue;
                    var asyncSrc = e.getAttribute("anima-src");
                    if (asyncSrc == undefined || asyncSrc.length == 0) continue;
                    if (anima_isHidden(e)) continue;
                    toLoad.push(e);
                }
                toLoad.sort(function(a, b) {
                    return anima_getTop(a) - anima_getTop(b);
                });
                for (var i = 0; i < toLoad.length; i++) {
                    var e = toLoad[i];
                    var asyncSrc = e.getAttribute("anima-src");
                    e.setAttribute("src", asyncSrc);
                }
            };
            anima_pauseHiddenVideos = function(tag) {
                var elements = document.getElementsByTagName("video");
                for (var i = 0; i < elements.length; i++) {
                    var e = elements[i];
                    var isPlaying = !!(e.currentTime > 0 && !e.paused && !e.ended && e.readyState > 2);
                    var isHidden = anima_isHidden(e);
                    if (!isPlaying && !isHidden && e.getAttribute("autoplay") == "autoplay") {
                        e.play();
                    } else if (isPlaying && isHidden) {
                        e.pause();
                    }
                }
            };
            anima_loadAsyncSrc = function(tag) {
                anima_loadAsyncSrcForTag("img");
                anima_loadAsyncSrcForTag("iframe");
                anima_loadAsyncSrcForTag("video");
                anima_pauseHiddenVideos();
            };
            var anima_getTop = function(e) {
                var top = 0;
                do {
                    top += e.offsetTop || 0;
                    e = e.offsetParent;
                } while (e);
                return top;
            };
            anima_loadAsyncSrc();
            anima_old_onResize = window.onresize;
            anima_new_onResize = undefined;
            anima_updateOnResize = function() {
                if (anima_new_onResize == undefined || window.onresize != anima_new_onResize) {
                    anima_new_onResize = function(x) {
                        if (anima_old_onResize != undefined) anima_old_onResize(x);
                        anima_loadAsyncSrc();
                    };
                    window.onresize = anima_new_onResize;
                    setTimeout(function() {
                        anima_updateOnResize();
                    }, 3000);
                }
            };
            anima_updateOnResize();
            setTimeout(function() {
                anima_loadAsyncSrc();
            }, 200);
        </script>
        <!-- End of Scripts -->
    </body>
</html>
