<!DOCTYPE html>
<html>
    <head>
        <link href="{{ url_for('static',filename='img/favicon.png') }}" rel="shortcut icon"/>
        <meta charset="utf-8"/>
        <meta content="width=1366, maximum-scale=1.0" name="viewport"/>
        <link href="{{ url_for('static',filename='css/sign-up.css') }}" rel="stylesheet" type="text/css"/>
        <meta content="AnimaApp.com - Design to code, Automated." name="author">
        </meta>
    </head>
    <body style="margin: 0;
    max-width : 98%;
 background: rgba(48, 48, 48, 1.0);">
        <input id="anPageName" name="page" type="hidden" value="sign-up"/>
        <div class="anima-container-center-horizontal">
            <div class="sign-up-dTJCwE anima-screen anima-word-break ">
                <div class="welcome-screen02-4aYgYn anima-flexbox-container">
                    <div class="background02-A2eJxD anima-flexbox-container" style="
    background-image: url('./img/back-gradient-green@1x.png');
    background-size: cover;">
                        <img anima-src="{{ url_for('static',filename='img/back-gradient-red@1x.png') }}" class="back-gradient-red12-jxpZV7" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    </div>
                </div>
                <form method="post" >
                <div class="input12-5m2GSS anima-flexbox-container">
                    <div class="sign-up-title4-Mg7eNM">
                        <div class="rectangle1910-hG0XRr">
                        </div>
                        <div class="login-session11-9IzCi2 font-class-4">
                            <span class="span0-YQjAWx">SIGN UP </span><span class="span1-fJWqTZ">NOW </span><span class="span2-CYZ481">!</span>
                        </div>
                    </div>

                    <div class="username11-J0GUZc anima-flexbox-container">
                        <input class="username-input11-WojPLZ font-class-2" name="username" placeholder="Username" required type="text"
                        title="Enter your username" minlength="6" style="width: 100%;"/>
                        <img anima-src="{{ url_for('static',filename='img/text-path@1x.png') }}" class="textpath05-gQnypi" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        {% with messages = get_flashed_messages() %}
                          {% if messages %}
                            <div class=flashes>
                            {% for message in messages %}
                                {% if message=='username already taken by other user' %}
                                    <div style="color:rgba(255,0,0,0.9);">{{ message }}</div>
                                {% endif %}
                            {% endfor %}
                            </div>
                          {% endif %}
                        {% endwith %}

                    </div>
                    <div class="username3-AIplYO anima-flexbox-container" >
                        <input class="email-input1-dNNH4j font-class-2" name="email" placeholder="Your E-Mail" required type="email" style="color: rgba(255,255,255,0.7); text-align:center;"
                        title="Enter your email address" style="width: 100%;"/>
                        <img anima-src="{{ url_for('static',filename='img/text-path@1x.png') }}" class="textpath07-zknLZm" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        {% with messages = get_flashed_messages() %}
                          {% if messages %}
                            <div class=flashes>
                            {% for message in messages %}
                                {% if message=='email already used' %}
                                    <div style="color:rgba(255,0,0,0.9);">{{ message }}</div>
                                {% endif %}
                            {% endfor %}
                            </div>
                          {% endif %}
                        {% endwith %}
                    </div>
                    <div class="password01-sGWqzL anima-flexbox-container">
                        <input class="password-input11-XK5b09 font-class-2" id="password" name="password" placeholder="Password" required type="password" minlength="8"
                        pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"  title="Must contain at least one  number and one uppercase and lowercase letter, and at least 8 or more characters"
                        style="width: 100%;" />
                        <img anima-src="{{ url_for('static',filename='img/text-path@1x.png') }}" class="textpath04-lWDZIi" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    </div>
                    <div class="password2-fWej8O anima-flexbox-container">
                        <input class="re-password-input1-IAhSLd font-class-2" id="confirm_password" name="retypepassword" placeholder="Retype password" required type="password" minlength="8"
                        pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"  title="Must contain at least one  number and one uppercase and lowercase letter, and at least 8 or more characters"
                        style="width: 100%;" />
                        <img anima-src="{{ url_for('static',filename='img/text-path@1x.png') }}" class="textpath06-tzQu7C" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    </div>
<!--                    <a href="/register" methods="POST">-->

                        <div class="sign-up-button5-SEMEWs anima-smart-layers-pointers " id="signupbutton">
                            <div class="group3430-lMeRmw">
                                <button type="submit" style="background-color:rgba(255,255,255,0);border-color:rgba(255,255,255,0);">
                                <img anima-src="{{ url_for('static',filename='img/path-1@1x.png') }}" class="path106-O3du5n" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                    <div class="pressed15-PqQsmT font-class-3">
                                        SIGN UP
                                    </div>
                                </button>
                            </div>
                        </div>
<!--                    </a>-->

                        <div class="already-have-account-login-here6-jIJqhi font-class-4">
                            <span class="span0-x4GKfI">Already have account? </span><span class="span1-OF7t8l">
                            <a href="/login">Login
                    </a>
                        </span>
                        </div>
                </div>
                    </form>
            </div>
        </div>
        <!-- Scripts -->
        <script>
            anima_isHidden = function(e) {
                if (!(e instanceof HTMLElement)) return !1;
                if (getComputedStyle(e).display == "none") return !0; else if (e.parentNode && anima_isHidden(e.parentNode)) return !0;
                return !1;
            };
            anima_loadAsyncSrcForTag = function(tag) {
                var elements = document.getElementsByTagName(tag);
                var toLoad = [];
                for (var i = 0; i < elements.length; i++) {
                    var e = elements[i];
                    var src = e.getAttribute("src");
                    var loaded = (src != undefined && src.length > 0 && src != 'data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==');
                    if (loaded) continue;
                    var asyncSrc = e.getAttribute("anima-src");
                    if (asyncSrc == undefined || asyncSrc.length == 0) continue;
                    if (anima_isHidden(e)) continue;
                    toLoad.push(e);
                }
                toLoad.sort(function(a, b) {
                    return anima_getTop(a) - anima_getTop(b);
                });
                for (var i = 0; i < toLoad.length; i++) {
                    var e = toLoad[i];
                    var asyncSrc = e.getAttribute("anima-src");
                    e.setAttribute("src", asyncSrc);
                }
            };
            anima_pauseHiddenVideos = function(tag) {
                var elements = document.getElementsByTagName("video");
                for (var i = 0; i < elements.length; i++) {
                    var e = elements[i];
                    var isPlaying = !!(e.currentTime > 0 && !e.paused && !e.ended && e.readyState > 2);
                    var isHidden = anima_isHidden(e);
                    if (!isPlaying && !isHidden && e.getAttribute("autoplay") == "autoplay") {
                        e.play();
                    } else if (isPlaying && isHidden) {
                        e.pause();
                    }
                }
            };
            anima_loadAsyncSrc = function(tag) {
                anima_loadAsyncSrcForTag("img");
                anima_loadAsyncSrcForTag("iframe");
                anima_loadAsyncSrcForTag("video");
                anima_pauseHiddenVideos();
            };
            var anima_getTop = function(e) {
                var top = 0;
                do {
                    top += e.offsetTop || 0;
                    e = e.offsetParent;
                } while (e);
                return top;
            };
            anima_loadAsyncSrc();
            anima_old_onResize = window.onresize;
            anima_new_onResize = undefined;
            anima_updateOnResize = function() {
                if (anima_new_onResize == undefined || window.onresize != anima_new_onResize) {
                    anima_new_onResize = function(x) {
                        if (anima_old_onResize != undefined) anima_old_onResize(x);
                        anima_loadAsyncSrc();
                    };
                    window.onresize = anima_new_onResize;
                    setTimeout(function() {
                        anima_updateOnResize();
                    }, 3000);
                }
            };
            anima_updateOnResize();
            setTimeout(function() {
                anima_loadAsyncSrc();
            }, 200);

            var password = document.getElementById("password")
              , confirm_password = document.getElementById("confirm_password");

            function validatePassword(){
              if(password.value != confirm_password.value) {
                confirm_password.setCustomValidity("Passwords Don't Match");
              } else {
                confirm_password.setCustomValidity('');
              }
            }

            password.onchange = validatePassword;
            confirm_password.onkeyup = validatePassword;
        </script>
        <!-- End of Scripts -->
    </body>
</html>
